@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-start text-left">
            <div class="col-lg-6 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">
                    My Story Starts From Now
                </h1>
                <hr />
            </div>
            <div class="col-lg-8 align-self-start">
                <p class="text-white-75 font-weight-light mb-5">
                    대한민국 28살 Lv.1 개발자 <br />
                    현 부경대 IoT 개발자 과정 교육 중 <br />
                </p>
                <a class="btn btn-primary btn-lg " href="https://www.youtube.com/channel/UCxvm7aAVfjoFRHQrRhuqutA">
                    <i class="fa fa-play"></i>Study Story
                </a>
            </div>
        </div>
    </div>
</header>