<footer class="bg-light py-5">
    <div class="container">
        <div class="small text-center text-muted">
            @*Copyright © 2020 - Start Bootstrap*@
            &copy; 2021 - Myportfolio - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</footer>