<section class="page-section bg-primary" id="preview">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Welcome!</h2>
                <hr class="divider light my-4" />
                <p class="text-white mb-4">
                    생산 관리자로 일하면서 스마트팩토리에 관심을 가지게 되었습니다.<br />
                    이에 IoT 개발자 교육 과정에서 C# 기반의 Winform/WPF 공부 중 입니다.<br />
                    ASP.net을 활용한 Web개발을 공부하였습니다.<br />
                    ASP.net과 Bootstrap을 활용해서 개인 Web Page를 만들어 보았습니다.<br />
                </p>
                @*<a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>*@
            </div>
            <video class="video" autoplay src="~/assets/img/background/SmartFactory.mp4" controls="controls"
                   height=80% width=80% style="padding-top:30px" />
        </div>
    </div>
</section>