@model Myportpolio.Models.Manage

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<script src="~/plugin/ckeditor_4.16.0_standard/ckeditor/ckeditor.js"></script>

<div class="col-lg col-md ml-auto mr-auto">
    <div class="card card-login">
        <div class="section section-contacts" style="padding: 20px 0px">
            <div class="row">
                <div class="col-md-11 ml-auto mr-auto">
                    <h2 class="text-center" style="color:black; margin-top:0px; font-weight:bold">Board</h2>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Cate" class="control-label">카테고리</label>
                            <select asp-for="Cate" class="form-control">
                                <option value="">선택</option>
                                <option value="Index">Index</option>
                                <option value="Profile">Profile</option>
                                <option value="Portfolio">Portfolio</option>
                            </select>
                            <span asp-validation-for="Cate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Subject" class="control-label">제목</label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contents" class="control-label">내용</label>
                            <textarea asp-for="Contents" id="EditorContents" class="form-control" rows="8"></textarea>
                            <script>
                                var editor = CKEDITOR.replace("EditorContents");
                                editor.config.allowedContent = true;
                                editor.config.extraAllowedContent = 'a(*)';
                            </script>
                            <span asp-validation-for="Contents" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="저장" class="btn btn-info" /> |
                            <a asp-action="Index" class="btn btn-light">리스트</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


