<section class="page-section bg-primary">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/BookRental.PNG">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/BookRental.PNG" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Winform</div>
                            <div class="project-name">Book Rental Shop</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/SMS.PNG">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/SMS.PNG" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">WPF</div>
                            <div class="project-name">Stock Management System</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/MovieApi.PNG">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/MovieApi.PNG" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">API</div>
                            <div class="project-name">MovieAPI</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Cate</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/WebPage.PNG">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/WebPage.PNG" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Web</div>
                            <div class="project-name">Interest Site</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="assets/img/portfolio/fullsize/Portofolio.PNG">
                        <img class="img-fluid" src="assets/img/portfolio/thumbnails/Portofolio.PNG" alt="" />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Web</div>
                            <div class="project-name">Portfoliio</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
