<section class="page-section" id="profile">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 text-center">
                <div class="avatar">
                    <img alt="Avatar" class="img-raised rounded-circle img-fluid" src="/assets/img/mon.jfif" />
                </div>
                <div class="namecard">
                    <h6 style="padding-top:30px">C# Progrmer</h6>
                    <h2 class="name text-center mt-0">김 구 겸</h2>
                </div>
            </div>
            <div class="col-md-8 ml-auto mr-auto" style="text-align:center">
                <h2 class="title">My Story</h2>
                <h5 style="padding-top:50px; line-height:300%">
                    1. 2010.03 ~ 2013.02: 부산 진고등학교 졸업 <br />
                    2. 2013.03 ~ 2019.02: 경상대학교 산업공학 전공 <br />
                    3. 2019.04 ~ 2020.12: 공장 생산 관리자 in 베트남 <br />
                    4. 2021.01 ~ 2021.08: IoT 개발자 과정 교육 수료 <br />
                </h5>
            </div>
        </div>
        <hr class="my-5" style="background-color:cadetblue" />

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-puzzle-piece text-primary mb-4"></i>
                    <h3 class="h4 mb-2" style="padding:20px">Skill</h3>
                    <p class="text-muted mb-0">
                        1. C / C++ <br />
                        2. C# (Winform / WPF) <br />
                        3. DBMS (MSSQL) <br />
                        4. WEB (HTML/CSS/JS) <br />
                        5. ASP.Net <br />
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-id-card text-primary mb-4"></i>
                    <h3 class="h4 mb-2" style="padding:20px">License</h3>
                    <p class="text-muted mb-0">
                        1.정보처리기사 <br />
                        2.품질경영기사 <br />
                        3.OCJP <br />
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-cubes text-primary mb-4"></i>
                    <h3 class="h4 mb-2" style="padding:20px">Project</h3>
                    <p class="text-muted mb-0">
                        1. Book Rental Shop <br />
                        2. Stock Manage System <br />
                        3. Portfolio Web Page <br />
                        4. Favorite Movie Selector <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>