@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Phone Number</h1>
    <p>010-4543-8127</p>
    <h1 class="display-4">Email</h1>
    <p>jyc351919@naver.com</p>
</div>