@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold">Welcome</h1>
    <p>
        생산 관리자로 일하면서 스마트팩토리에 관심을 가지게 되었습니다.<br />
        현재에느 IoT 개발자 교육 과정에서 C# 기반의 Winform/WPF 공부와
        ASP.net을 활용한 Web개발을 공부하였습니다.<br />
        ASP.net과 Bootstrap을 활용해서 개인 Web Page를 만들어 보았습니다.<br />
    </p>
</div>
