@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Portfolio</h2>
        <h5 class="description">진행했던 프로젝트들입니다.</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#skill" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i> Skill
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i> Project
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#interest" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i> Interest
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content tab-space">
    <div class="tab-pane active text-center gallery" id="skill">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/images/skill/csharp1.png" class="rounded">
                <img src="~/images/skill/aspnet-featured.png" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/images/skill/c-logo.png" class="rounded">
                <img src="~/images/skill/SQL.png" class="rounded">
                <img src="~/images/skill/htmlcssjs-overview.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="project">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/images/project/Portofolio.png" class="rounded">
                <img src="~/images/project/SMS.png" class="rounded">
                <img src="~/images/project/영화API활용.png" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/images/project/도서대여관리.png" class="rounded">
                <img src="~/images/project/WebPage.png" class="rounded">
            </div>
        </div>
    </div>
    <div class="tab-pane text-center gallery" id="interest">
        <div class="row">
            <div class="col-md-3 ml-auto">
                <img src="~/images/skill/raspberry-pi-logo.png" class="rounded">
                <img src="~/images/skill/unity.png" class="rounded">
            </div>
            <div class="col-md-3 mr-auto">
                <img src="~/images/skill/Linux.png" class="rounded">
                <img src="~/images/skill/python.png" class="rounded">
            </div>
        </div>
    </div>
</div>

